<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyDash | PEC</title>
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
  <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/adminlte.css">
  <script type="text/javascript" src="../dist/js/pec/pec.js"></script>
    <!-- Select2 -->
    <script src="../plugins/select2/js/select2.full.min.js"></script>
  <link rel="stylesheet" href="../plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

</head>
<body class="hold-transition sidebar-mini {% if session.darkMode == "1" %}dark-mode{% endif %}">
<!-- Site wrapper -->
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>PEC</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
          <div class="col-md-12">
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#ongletPecEnCours" role="tab" aria-controls="ongletPecEnCours" aria-selected="true">PEC En Cours</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#ongletPecTermine" role="tab" aria-controls="ongletPecTermine" aria-selected="false">PEC Terminé</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-four-tabContent">
                  <div class="tab-pane fade show active" id="ongletPecEnCours" role="tabpanel" aria-labelledby="ongletPecEnCours-tab">
                    <table id="pecEnCours" class="table table-hover">
                      <thead>
                          <tr>
                              <th>Num PEC</th>
                              <th>Num client</th>
                              <th>Type</th>
                              <th>Marque</th>
                              <th>Modèle</th>
                              <th>Type de répa.</th>
                              <th>Prix</th>
                              <th>Date</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for pec in pecEnCours %}
                        <tr>
                            <td>{{ pec.idPec }}</td>
                            <td>{{ pec.idClient }}</td>
                            <td>{{ pec.type }}</td>
                            <td>{{ pec.marque }}</td>
                            <td>{{ pec.modele }}</td>
                            <td>{{ pec.reparation }}</td>
                            <td>{{ pec.prix }}€</td>
                            <td>{{ pec.dateCreation }}</td>
                            <td><a href="#" data-toggle="tooltip" data-placement="top" title="Valider la PEC" class="modalValiderPEC" style="margin-right:15px;color:#28c76f;" data-idPEC="{{ pec.idPec }}"><i class="fas fa-check"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" class="modalDetailsPEC" title="Détails de la PEC" data-idPEC="{{ pec.idPec }}"><i class="fas fa-info"></i></a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane fade" id="ongletPecTermine" role="tabpanel" aria-labelledby="ongletPecTermine-tab">
                    <table id="pecTermine" class="table table-hover">
                      <thead>
                          <tr>
                              <th>Num PEC</th>
                              <th>Num client</th>
                              <th>Type</th>
                              <th>Marque</th>
                              <th>Modèle</th>
                              <th>Type de répa.</th>
                              <th>Prix</th>
                              <th>Date</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for pec in pecTermine %}
                        <tr>
                            <td>{{ pec.idPec }}</td>
                            <td>{{ pec.idClient }}</td>
                            <td>{{ pec.type }}</td>
                            <td>{{ pec.marque }}</td>
                            <td>{{ pec.modele }}</td>
                            <td>{{ pec.reparation }}</td>
                            <td>{{ pec.prix }}€</td>
                            <td>{{ pec.dateCreation }}</td>
                            <td><a href="#" data-toggle="tooltip" data-placement="top" class="modalDetailsPEC" title="Détails de la PEC" data-idPEC="{{ pec.idPec }}"><i class="fas fa-info"></i></a></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->


<!-- The Modal -->
<div class="modal" id="modalValidPEC" data-keyboard="true" data-backdrop="static" role="dialog" tabindex='-1'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Validation de la PEC</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body modalValidPEC">
        <form action="#" id="formValiderPEC" method="post">
          <input type="text" id="id_pec" name="id_pec" value="" hidden>
          <div class="row">
            <div class="col-md-12" style="margin-bottom:15px">
              <label>Réparateur<font color="red"> *</font></label>
              <select class="form-control" id="reparateur" name="reparateur">
                <option></option>
                {% for reparateur in listeReparateur %}
                  <option value="{{ reparateur.idUser }}">{{ reparateur.idUser }} - {{ reparateur.nom }} {{ reparateur.prenom }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pièce(s) Utilisé</label>
                    <select class="form-control select2" id="pieces" name="pieces[]" style="width:100%" multiple="multiple">
                        <option>Alabama</option>
                        <option>Alaska</option>
                        <option>California</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option value="999999">Autres (A Renseigner)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                <label for="nom">Autres pièces utilisé</label>
                <input type="text" class="form-control" id="autre_piece" name="autre_piece" placeholder="Autres pièce utilisé" readonly>
                </div>
            </div> 
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="validerPEC" class="btn btn-success">Valider</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="modalDetails" data-keyboard="true" data-backdrop="static" role="dialog" tabindex='-1'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Détails de la PEC</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body modalDetails">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>




<!-- InputMask -->
<script src="../plugins/moment/moment.min.js"></script>
<script src="../plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../plugins/jszip/jszip.min.js"></script>
<script src="../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>

</body>
</html>
